<h1>User info</h1>
<% @user.each do |user| %>

<%= attachment_image_tag user, :image %>
 <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>

<table>
  <tbody>
    <tr>
     <td>name</td>
     <td><%= @user.name %></td>
     <td>introduction</td>
     <td><%= @user.introduction %></td>
    </tr>
  </tbody>
</table>
<% end %>

<%=link_to 'プロフィール編集', edit_user_paht(@user) %>

<h1>New Book</h1>
<%= form_with model:@book, local:true do |f| %>

<h4>Title</h4>
<%=f.text_field :title %>

<h4>Opinion</h4>
<%= f.text_area :body %>

<%= f.submit 'Create Book' %>

<% end %>

<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>

  <tboudy>
    <tr>
      <% @books.each do |book| %>

      <td><%= link_to book_path(book.id) do %>
        <%= book.title %>
       <% end %>
      </td>
      <td><%= book.body %></td>
    </tr>
    <% end %>
  </tboudy>
</table>