<h1>User info</h1>

 <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>

<table>
  <tbody>
    <tr>
     <td>name</td>
     <td><%= @user.name %></td>
     <td>introduction</td>
     <td><%= @user.introduction %></td>
    </tr>
  </tbody>
</table>

<%=link_to 'プロフィール編集', edit_user_path(@user) %>

<h1>New Book</h1>
<%= form_with model:@book, local:true do |f| %>

<h4>Title</h4>
<%=f.text_field :title %>

<h4>Opinion</h4>
<%= f.text_area :body %>

<%= f.submit 'Create Book' %>

<% end %>

<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <% @books.each do |book| %>
      <td><%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%></td>
      <td><%= link_to book_path(book) do %>
        <%= book.title %>
        <% end %>
      </td>
      <td><%= book.body %></td>
    </tr>
    <% end %>
  </tbody>
</table>